:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --color-gray-light: rgba(0, 0, 0, 0.1);
  --color-primary: #007bff;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}
